$fluttershyThemeColor1: #f8b9cf;
$fluttershyThemeColor2: #e57eb3;
$fluttershyThemeColor3: #fffac2;
$fluttershyThemeColor4: #fff797;;
$fluttershyThemeColor5: #7ce3dd;
$fluttershyThemeColor6: #08b0a9;

$twilightThemeColor1: #e6458b;
$twilightThemeColor2: #622e86;
$twilightThemeColor3: #273771;
$twilightThemeColor4: #132042;
$twilightThemeColor5: #d4a4e8;
$twilightThemeColor6: #a66ebe;

$celestiaThemeColor1: #f9ecb8;
$celestiaThemeColor2: #ffde91;
$celestiaThemeColor3: #a7d9f6;
$celestiaThemeColor4: #7ea3ea;
$celestiaThemeColor5: #d694d5;
$celestiaThemeColor6: #52b4cd;


$lunaThemeColor1: #242d6f;
$lunaThemeColor2: #000000;
$lunaThemeColor3: #5175ed;
$lunaThemeColor4: #2433a8;
$lunaThemeColor5: #5d35c5;
$lunaThemeColor6: #256f83;

$lightPaper: #ffffff;
$darkPaper: #000000;

$baseTransition: 0.3s;