.fluttershyTheme {
    .themeTextColor1 { color: $fluttershyThemeColor1 }
    .themeTextColor2 { color: $fluttershyThemeColor2 }
    .themeTextColor3 { color: $fluttershyThemeColor3 }
    .themeTextColor4 { color: $fluttershyThemeColor4 }
    .themeTextColor5 { color: $fluttershyThemeColor5 }
    .themeTextColor6 { color: $fluttershyThemeColor6 }

    .themeBackground1 { background-color: $fluttershyThemeColor1 }
    .themeBackground2 { background-color: $fluttershyThemeColor2 }
    .themeBackground3 { background-color: $fluttershyThemeColor3 }
    .themeBackground4 { background-color: $fluttershyThemeColor4 }
    .themeBackground5 { background-color: $fluttershyThemeColor5 }
    .themeBackground6 { background-color: $fluttershyThemeColor6 }

    header, footer{
        background: radial-gradient(circle, $fluttershyThemeColor3 30%, $fluttershyThemeColor2 100%);
    }

    input {
        border-color: $fluttershyThemeColor5;

        &:focus-visible {
            outline-color: $fluttershyThemeColor6;
        }
    }

    .header-image{
    	background-image: url('@/assets/arts/fluttershy_reading.gif');
    	width: 350px;
    	height: 220px;
    }

    .theme-switch {
        .icon {
        	fill: $fluttershyThemeColor3;
        }
    }

    .library-link {
        background: $fluttershyThemeColor2;
    }

    .bookshelf {
        color: $fluttershyThemeColor2;

        .book-title {
            color: #fff;
            background: $fluttershyThemeColor1;
            transition: $baseTransition;

            &:hover {
                color: #fff;
                background: $fluttershyThemeColor2;
            }
        }
    }

    .main {
        background-image: linear-gradient(
            to top,
            rgba(255,255,255,0.7),
            rgba(255,255,255,0.7)),
            url('@/assets/arts/backgrounds/fluttershy-background1.png');
    }

    .main, footer {
        button, a, label {
            color: $fluttershyThemeColor5;
            transition: $baseTransition;

            &.button {
                color: $fluttershyThemeColor2;
                border-color: $fluttershyThemeColor2;
                background: #fff;

                &:hover {
	                background: $fluttershyThemeColor3;
                    color: $fluttershyThemeColor2;
                }
            }

            &:hover {
                color: $fluttershyThemeColor6;

                img {
                    filter: drop-shadow(0px 0px 3px $fluttershyThemeColor6);
                }
            }

            &.selected {
                background: $fluttershyThemeColor4;

                img {
                    filter:
                            drop-shadow(0px 0px 3px $fluttershyThemeColor6)
                            drop-shadow(0px 0px 6px $fluttershyThemeColor6);
                }
            }
        }
    }

    .selected-filter, .tooltip-container, .bookmarks-container {
        color: $fluttershyThemeColor2;
    }

    .reset-filter.x {
        color: $fluttershyThemeColor6;
        svg path {
          stroke: $fluttershyThemeColor1 !important;
        }
    }

    .fanfic {
        .title {
            color: $fluttershyThemeColor2;
        }

        .fanfic-info {
            color: $fluttershyThemeColor2;
            transition: $baseTransition;

            .fanfic-nav {
                a {
                    color: #000;
                    transition: $baseTransition;

                    &.active {
                        color: $fluttershyThemeColor5;
                    }

                    &:hover {
                        color: $fluttershyThemeColor6;
                    }
                }
            }

        }

        .clicked-el {
            background-color: $fluttershyThemeColor1;
        }

        .marked-el {
            &::after {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%2308b0a9" d="M17,3A2,2 0 0,1 19,5V21L12,18L5,21V5A2,2 0 0,1 7,3H17Z"/></svg>');
            }
        }
    }

    .next-chapter a {
        color: $fluttershyThemeColor2;
        background-color: $fluttershyThemeColor3;
        border-color: $fluttershyThemeColor2;
        transition: $baseTransition;

        &:hover {
            color: $fluttershyThemeColor2;
            background-color: $fluttershyThemeColor4;
        }
    }

    .preloader span, .contacts {
        color: $fluttershyThemeColor2;
    }

    .tooltip-content {
        color: $fluttershyThemeColor6;
        border-color: $fluttershyThemeColor6;
    }
}