.lunaTheme {
    .themeTextColor1 { color: $lunaThemeColor1 }
    .themeTextColor2 { color: $lunaThemeColor2 }
    .themeTextColor3 { color: $lunaThemeColor3 }
    .themeTextColor4 { color: $lunaThemeColor4 }
    .themeTextColor5 { color: $lunaThemeColor5 }
    .themeTextColor6 { color: $lunaThemeColor6 }

    .themeBackground1 { background-color: $lunaThemeColor1 }
    .themeBackground2 { background-color: $lunaThemeColor2 }
    .themeBackground3 { background-color: $lunaThemeColor3 }
    .themeBackground4 { background-color: $lunaThemeColor4 }
    .themeBackground5 { background-color: $lunaThemeColor5 }
    .themeBackground6 { background-color: $lunaThemeColor6 }

    header, footer {
        background: radial-gradient(circle, $lunaThemeColor3 0%, $lunaThemeColor2 100%);
    }

    input {
        border-color: $lunaThemeColor4;
	    color: $lunaThemeColor3;
	    background: $lunaThemeColor2;

        &:focus-visible {
            outline-color: $lunaThemeColor3;
        }
    }

    .header-image{
    	background-image: url('@/assets/arts/luna_reading.png');
    	width: 370px;
    	height: 350px;
    	position: relative;
    }

    .theme-switch {
       .icon {
        	fill: $lunaThemeColor3;
        }
    }

    .library-link {
        background: $lunaThemeColor2;

        a {
           color: $lunaThemeColor3;
        }
    }

    .bookshelf {
        color: $lunaThemeColor3;

        .book-like {
            background: rgba(0, 0, 0, 0.3);
            border: 1px solid $lunaThemeColor2;
        }

       .book-title {
            color: #fff;
            background: $lunaThemeColor1;
            transition: $baseTransition;

            &:hover {
                color: #fff;
                background: $lunaThemeColor6;
            }
       }
    }

     .main {
        background-image: linear-gradient(
                        to top, rgba(10, 0, 30,0.8),
                        rgba(10, 0, 30,0.8)),
                        url('@/assets/arts/backgrounds/luna_background.png');
        background-size: 300px;
     }

    .main, footer {
        button, a, label {
            color: $lunaThemeColor5;
            transition: $baseTransition;

            &.button {
                color: $lunaThemeColor3;
                border-color: $lunaThemeColor3;
                background: $lunaThemeColor2;
                transition: $baseTransition;

                &:hover {
	                background: $lunaThemeColor3;
                    color: $lunaThemeColor2;
                }
            }

            &:hover {
	            color: $lunaThemeColor6;

                img {
                    filter:
                            drop-shadow(0px 0px 1px $lunaThemeColor6)
                            drop-shadow(0px 0px 3px $lunaThemeColor6)
                            drop-shadow(0px 0px 5px $lunaThemeColor6);
                }
            }

            &.selected {
                background: $lunaThemeColor6;
                border-color: $lunaThemeColor6;
                color: $lunaThemeColor2;

                img {
                    filter:
                        drop-shadow(0px 0px 1px $lunaThemeColor6)
                        drop-shadow(0px 0px 3px $lunaThemeColor6)
                        drop-shadow(0px 0px 5px $lunaThemeColor6)
                        drop-shadow(0px 0px 7px $lunaThemeColor6);
                }
            }
        }

        .characters {
            img {
                filter: drop-shadow(0px 0px 1px $lunaThemeColor6)
                        drop-shadow(0px 0px 3px $lunaThemeColor6);
            }
        }
    }

    .selected-filter, .tooltip-container, .bookmarks-container {
    	color: $lunaThemeColor3;
    }

    .reset-filter {
    	border-color: $lunaThemeColor1;
    	color: $lunaThemeColor1;
    	background-color: $lunaThemeColor2;

        &:hover {
        	background-color: $lunaThemeColor3;
        }
    }

    .fanfic {
        background: $lunaThemeColor2;

        .title {
            color: $lunaThemeColor3;
        }

        .fanfic-info {
            color: $lunaThemeColor3;
            transition: $baseTransition;

            .fanfic-nav {
                a {
                    color: #bccdd8;
                    transition: $baseTransition;

                    &.active {
                        color: $lunaThemeColor5;
                    }

                    &:hover {
                        color: $lunaThemeColor6;
                    }
                }
            }

        }

        .fic-content, .end {
            color: #bccdd8;
        }

        .clicked-el {
            background-color: $lunaThemeColor1;
        }

        .marked-el {
            &::after {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23256f83" d="M17,3A2,2 0 0,1 19,5V21L12,18L5,21V5A2,2 0 0,1 7,3H17Z"/></svg>');
            }
        }
    }

    .next-chapter a {
        color: $lunaThemeColor1;
        border-color: $lunaThemeColor1;
        background-color: $lunaThemeColor3;
        transition: $baseTransition;

        &:hover {
            color: $lunaThemeColor1;
            background-color: $lunaThemeColor5;
        }
    }

    .preloader span, .contacts {
        color: $lunaThemeColor1;
    }

    .scroll-to-top {
        background-color: $lunaThemeColor6;
        .icon {
            fill: $lunaThemeColor2;
        }
    }

    .contacts {
        z-index: 1;
    }

    .tooltip-content {
        color: $lunaThemeColor6;
        border-color: $lunaThemeColor6;
        background: $lunaThemeColor2;
    }

    .dropdown-menu {
        background: rgba(0, 0, 0, 0.3);
    }
}